<div>
  <%= link_to (image_tag '/brazil.png'), root_path(locale: 'pt-BR'), class: 'btn-language-first' %>
  <%= link_to (image_tag '/eua.png'), root_path(locale: :en), class: 'btn-language-all'%>
  <%= link_to (image_tag '/spain.png'), root_path(locale: :es), class: 'btn-language-all'%>
</div>

<div class='container'>
  <div class='row main'>
  
    <div class='col-lg-5 offset-lg-1 hidden-sm-down title-box'>
      <div class='row'>
        <h2 class='subtitle'><%= t 'global.exchanges.text-1' %></h2>
      </div>
                
      <div class='row'>
        <h3 class='subtitle'><%= t 'global.exchanges.text-2' %></h3>
      </div>
      
    </div>

    <div class='col-lg-5 offset-lg-1 col-md-10 offset-md-1 exchange_box'>
      <div class='row'>
          <div class='col-md-8 offset-md-2 text-sm-center'>
            <%= image_tag '/logo.png', class: 'img-fluid'%>
          </div>
      </div>
 
      <div class='row'>
        <%= render 'exchange_box' %>
      </div>
    </div>
  </div>
</div>